body {
  font-family: "Roboto", serif;
  color: #212232;
  /* background-color: #212232; */
}

#menu {
  right: 0;
  position: absolute;
  display: inline-block;
  height: 10px;
}

h2 {
  display: inline-block;
  font-size: 1.3em;
}

ul {
  list-style-type: none;
}

#menu ul {
  float: right;
}

#menu li {
  display: inline;
  margin: 0 10px;
}

.temp {
  width: 300px;
}

.underline {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  color: #212232;
  text-decoration: none;
}

#work {
  margin-left: 50px;
}
