body {
  font-family: "Roboto", serif;
  color: #212232;
}

.wrapper-grid {
  padding-top:25px;
  display: grid;
  grid-template-columns: 20% 3% 54% 3% 20%;
  grid-template-rows: 100px 1300px
}

#Navbar {
  grid-column-start:2;
  grid-column-end:5;
}

#Work {
  grid-column-start:3;
  grid-column-end:4;
  /* background-color:pink; */
}

#Project {
  /* background-color:lightcoral; */
  
  grid-column-start:3;
  grid-column-end:6;
}

.projectCarousel {
  position: relative;
  grid-column-start:2;
  grid-column-end:3;
  margin-bottom:100px;
}

#projectImages {
  grid-column-start:3;
  grid-column-end:4;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#projectImages img{
  width:100%;
}

#div-carouselButtons {
  width: 100%;
}

#carouselButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size:1.5em;
  /* background-color:lightgreen; */
  position:fixed;
  left:0;
  top:430px;
}

.carouselButton {
  margin: 0 20px;
}

/* Tablet breakpoint */
@media screen and (max-width: 1024px) {
	
}

/* Mobile breakpoint */
@media screen and (max-width: 700px) {
	.wrapper-grid {
		grid-template-columns: 5% 10% 1fr 10% 5%;
	}

}

#menu {
  height: 10px;
  float:right;
  top:30px;
  position:relative;
}

h2 {
  display: inline-block;
  font-size: 1.8em;
}

ul {
  list-style-type: none;
  margin: 0;
}

#menu ul {
  float: right;
}

#menu li {
  display: inline;
  margin: 0 8px;
  cursor: pointer;
  font-size: 1.5em;
}

.underline {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  color: #212232;
  text-decoration: none;
}

.clientURL:hover {
  color: #4f4f4f;
}

.email textarea:hover {
  border: none;
  color: transparent;
  text-shadow: 0 0 0 #4f4f4f;
}

.email:hover ~ #tooltip {
  display: block;
}

.email textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
  width: 179px;
  height: 1.2em;
  font-family: "Roboto", serif;
  font-size: 1em;
  cursor: pointer;
  border-bottom: 1px solid black;

  color: transparent;
  text-shadow: 0 0 0 #000;
}

.email textarea::selection {
  background: transparent;
}

#tooltip {
  text-decoration: none;
  position: relative;
  display: none;
  width: 150px;
}

.imgBorder {
  border: 10px solid rgba(0, 0, 0, 1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 28px;
}

.projectTitle {
  padding-bottom:25px;
  font-size:1.5em;
  grid-column-start:2
}

#Navbar li {
  font-weight: 900;
}

#Info {
  grid-column-start:3;
  width:400px;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 2em;
}

.projectFooter {
  padding: 20px 0 0 40px;
  border-left: 2px solid black;
  width: 70%;
  height:400px;
  font-size:1.2em;
  /* background-color:lightseagreen; */

  grid-column-start:2;
}