body {
  background-color: black;
  color: white;
  font-family: "Roboto Slab", serif;
}

#menu {
  right: 0;
  position: absolute;
  display: inline-block;
  height: 10px;
}

#menu a {
  text-decoration:none;
  color:white;
}

h1 {
  display: inline-block;
}

ul {
  list-style-type: none;
}

#menu ul {
  float: right;
}

#menu li {
  display: inline;
  margin: 0 10px;
}

#work {
  margin: 0 0 0 200px;
}

#info {
  width: 200px;
  position: fixed;
  bottom: 20px;
}

#info ul {
  /* float: right; */
  margin: 0;
  padding: 0;
}

#info ul li {
  /* text-align: right; */
}
